@import url("https://fonts.cdnfonts.com/css/proxima-nova-condensed");

/****************************************************************************************
 *  Text styles
 ****************************************************************************************/
$proxima: 'Proxima Nova Condensed', sans-serif;

@mixin text_size($size, $weight){
    font-size: $size;
    font-weight: $weight;
}




 /****************************************************************************************
 *  Colors
 ****************************************************************************************/
$dark_red: rgba(176, 23, 54, 1);
$light_red: rgba(212, 49, 82, 1);
$dark_grey: rgba(68, 68, 68, 1.0);
$gray: rgba(0, 0, 0, 0.05);


