@import "./variables";

.benefits {
    h2 {
        font-size: 56px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 600;

        span {
            color: rgba(176, 23, 54, 1);
        }
    }

    hr {
        margin: 75px 30px 70px;
        color: red;
        background-color: aquamarine;
    }
}

.line_package {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.package {
    text-align: center;

    p {
        font-size: 19px;
        font-weight: 400;
    }
}

.circle {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 5%);
    margin: 0px 34px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 0px) and (max-width: 1024px) {
    .benefits {
        h2 {
            @include text_size(28px, 600);
        }
    }

    .line_package {
        flex-basis: 50%;
        row-gap: 25px;
    }

        .circle{
            height: 80px;
            width: 80px;

            img{
                height: 35px;
                width: 35px;
            }
        }
}