
<div class="benefits">
        <h2>Компенсационный пакет</h2>
        <div class="line_package">
          <div class="package">
            <div class="circle">
              <img src="./public/DMS.svg" />
            </div>
            <p>ДМС</p>
          </div>
          <div class="package">
            <div class="circle">
              <img src="./public/Birthday.svg" />
            </div>
            <p>Выходной <br />в день рождения</p>
          </div>
          <div class="package">
            <div class="circle">
              <img src="./public/Phone.svg" />
            </div>
            <p>Корпоративная <br />мобильная связь</p>
          </div>
          <div class="package">
            <div class="circle">
              <img src="./public/Sport.svg" />
            </div>
            <p>Корпоративные скидки<br />на спорт</p>
          </div>
          <div class="package">
            <div class="circle">
              <img src="./public/LTI.svg" />
            </div>
            <p>LTI</p>
          </div>
        </div>
        <hr />
        <h2>
          Программа дополнительной мотивации<br /><span
            >доплата 12% от суммы</span
          >
        </h2>
        <div class="line_package">
          <div class="package">
            <div class="circle">
              <img src="./public/Printer.svg" />
            </div>
            <p>Оргтехники</p>
          </div>
          <div class="package">
            <div class="circle">
              <img src="./public/DMS.svg" />
            </div>
            <p>ДМС</p>
          </div>
          <div class="package">
            <div class="circle">
              <img src="./public/House.svg" />
            </div>
            <p>Ипотеки</p>
          </div>
        </div>
      </div>