<div class="corporate_life">
    <div class="corporate_life_title">
        <h3>Корпоративная жизнь</h3>
        <div class="corporate_life_title__button">
            <button id="back" class="btn">
                <img src="/left_arrow.svg"/>
            </button>
            <button id="next" class="btn">
                <img src="/rigth_arrow.svg"/>
            </button>
        </div>
    </div>
    <div class="corporate_life_content">
        <img id="corporation_life_photo" />
        <div id="corporation_life_photo_line">
        </div>
    </div>
</div>