<div class="map">
  <div class="map_header">
    <div class="map_header__title" id="map_title__button">
      <h3>Офисы Softline</h3>
      <img src="bottom_arrow.svg" />
      <div class="title_wrapper">
        <table>
          <thead>
            <tr>
              <th>Москва</th>
              <th>Центр</th>
              <th>Северо-Запад</th>
              <th>Юг</th>
              <th>Волга</th>
              <th>Урал</th>
              <th>Сибирь</th>
              <th>Дальний Восток</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Воронеж</td>
              <td>Санкт-Петербург</td>
              <td>Ростов-на-Дону</td>
              <td>Казань</td>
              <td>Екатеринбург</td>
              <td>Новосибирск</td>
              <td>Хабаровск</td>
            </tr>
            <tr>
                <td></td>
                <td>Ярославль</td>
                <td>Калининград</td>
                <td>Краснодар</td>
                <td>Самара</td>
                <td>Челябинск</td>
                <td>Омск</td>
                <td>Владивосток</td>
            </tr>
            <tr>
                <td></td>
                <td>Белгород</td>
                <td></td>
                <td>Волгоград</td>
               <td>Уфа</td>
               <td>Пермь</td>
               <td>Томск</td>
               <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Оренбург</td>
                <td>Сургут</td>
                <td>Красноярск</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                 <td></td>
                <td></td>
                <td></td>
                <td>Нижний Новгород</td>
                <td>Тюмень</td>
                <td>Иркутск</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Ижевск</td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="map_header_nav"></div>
  </div>

  <div class="map_content" id="map_content">
    <img
      id="mapImage"
      src="/All.png"
      alt="Карта офисов Softline"
    />
  </div>
</div>
